:root {
    font-size: 62.5%;
}

@font-face {
    font-family: RobotoCondensedRegular;
    src: url(./assets/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: RobotoCondensedBold;
    src: url(./assets/RobotoCondensed-Bold.ttf);
}

@media only screen and (max-width: 500px) {
    .options {
        grid-template-columns: 1fr 1fr !important;
        justify-items: center;
        grid-row-gap: 20px;
    }

    .options>li:nth-child(3) {
        grid-area: 2 / 1 / 2 / 3
    }

    label[for='location-search'] {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
    header {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .options {
        justify-items: center;
    }
}

@media only screen and (min-width: 900px) {
    header {
        grid-template-columns: 1fr 2fr;
    }
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: RobotoCondensedRegular, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    max-height: 100vh;
}

header {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0px 20px;
    box-shadow: 2px 0px 10px #b45309;
}

header, footer {
    background-color: #e5e5e5;
}

footer {
    box-shadow: -2px 0px 10px #b45309;
}

h1, h2 {
    font-family: RobotoCondensedBold;
    letter-spacing: 0.3rem;
    white-space: nowrap;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-family: RobotoCondensedBold;
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.title-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

#header-logo, #condition-icon {
    max-height: 50px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: center;
    font-size: 2rem;
}

#location-search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

#location-search {
    font-size: 2rem;
    max-width: 150px;
}

#submit-location-search {
    font-family: inherit;
    font-size: 1.8rem;
    padding: 5px 20px;
    background-color: #fffbeb;
    border: 1px solid #fcd34d;
    border-radius: 10px;
}

#submit-location-search:hover {
    cursor: pointer;
    outline: 2px solid #fbbf24;
}

#submit-location-search:focus, #location-search:focus-visible {
    outline: 2px solid #fbbf24;
}

#current-weather:hover, #forecast-weather:hover {
    width: fit-content;

}
#current-weather:hover, #forecast-weather:hover {
    cursor: pointer;
    font-weight: bold;
}

.content {
    display: grid;
    justify-items: center;
    align-content: space-evenly;
}

.location-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 2rem;
    align-items: center;
    row-gap: 15px;
    margin: 5px 5px 20px 5px;
    max-width: 250px;
}

.weather-data {
    justify-self: end;
}

.condition, .date {
    grid-column: 1 / span 3;
    justify-self: center;
    font-weight: bold;
}

.weather-icon {
    padding: 15px;
    justify-self: center;
}

#current-temperature, #current-temperature + .units {
    font-size: 2.5rem
}

#error-msg {
    color: red;
    font-size: 1.5rem;
}

#weather-data-header {
    text-align: center;
}

.weather-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}